body, html, head h1{
	margin: 0;
	padding: 0;
}

.container{
	background-color: #eae7e8;
	height: 100%;
}
.yellowbar{
	width: 95%;
	background-color: yellow;
	height: 10px;
	margin: 0 auto;
}

.logo{
	width: 17%;
	margin: 0 auto;
	padding-top:30px;
}


.logo img{
	width: 100%;
}

.news-section{
}

.news-row{
	padding-bottom:150px;
	width: 95%;
	margin: 0 auto;
}

.news-item1{
	width:45%;
	display: inline-block;
}

.news-item2{
	width:30%;
	display: inline-block;
}

.news-item3{
	width:25%;
	display: inline-block;
}

.img1{
	width: 90%;
	height: 600px;
	margin: 0 auto;
	background: url("img/antarctic.jpg") no-repeat center center; /* no repeat forces the img to fill the thingy */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
	margin-top: 30px;
	margin-bottom: 30px;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}

.img2{
	width: 90%;
	height: 600px;
	margin: 0 auto;
	background: url("img/reporter.jpg") no-repeat center center; /* no repeat forces the img to fill the thingy */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
	margin-top: 30px;
	margin-bottom: 30px;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}

.img3{
	width: 90%;
	height: 600px;
	margin: 0 auto;
	background: url("img/cat.jpg") no-repeat center center; /* no repeat forces the img to fill the thingy */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
	margin-top: 30px;
	margin-bottom: 30px;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}

.img1:hover, .img2:hover, .img3:hover{
	margin-top:10px;
	margin-bottom:50px;
}

.pic-title{
	position: absolute;
	color: white;
	bottom: 50px; /* Zero pixels from the bottom */
	font-size: 20px;
	padding: 10px;
	font-family: futuraPTMedium, sans-serif;
	background-color: rgba(0,0,0,1);
	text-decoration:none;
}

@font-face {
    font-family: futuraPTHeavy;
    src: url(FuturaPTHeavy.otf) format('opentype');
}

@font-face {
    font-family: futuraPTMedium;
    src: url(FuturaPTMedium.otf) format('opentype');
}

@media screen and (max-width:1000px){  /* this is the breakpoint */
	.news-item1, .news-item2{
		width:50%;
	}
 	.news-item3{
		width:100%;
	}

	.img1, .img2, .img3{
		height:450px;
	}

	.img3{
		width: 95%
	}
}

@media screen and (max-width:750px){  /* this is the breakpoint */
	.news-item1, .news-item2, .news-item3{
		width:100%;
	}

	.img1, .img2, .img3{
		height:300px;
		width: 90%;
	}
}